export issuer=urn:gov:gsa:SAML:2.0.profiles:sp:sso:localhost
export assertion_consumer_service_url=http://localhost:4567/consume
export idp_sso_target_url=http://localhost:3000/api/saml/auth2026
export idp_slo_target_url=http://localhost:3000/api/saml/logout2026
export idp_cert_fingerprint=39:22:D5:3D:F1:2D:8A:12:2C:AA:99:AB:28:78:07:2C:A3:1B:5C:E4
