<div class="clearfix">
  <div class="col-12 sm-col-6 mx-auto">
    <div class="h5 p2 center">
      <span class="bold caps">Failure to Proof</span>
      <p><strong>We were unable to verify your identity</strong>.</p>
    </div>
  </div>
</div>