Hello! Please log in.

<form action="/login" method="POST">
  <label for="dummy_field">Placeholder field</label>
  <input name="dummy_field" id="dummy_field" type="text">
  <input type="submit" value="Submit">
</form>
