<h2>Hello! Please log in.</h2>

<form action="/login" method="POST">
  <label for="dummy_field">Placeholder field</label>
  <input class="field" name="dummy_field" id="dummy_field" type="text">
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
