<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Identity</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/lib/basscss.min.css" rel="stylesheet">
</head>
<body class="bg-darken-1">
  <div class="h5 px2 py1 bg-navy white center">
    <img src="/img/usa-flag.png">&nbsp;
    An official website of the United States Government
  </div>
  <div class="py2 mb3 bg-white center">
    <img src="/img/seal.png" class="align-middle" width="100">
  </div>
  <div class="container px2">
    <%= yield %>
  </div>
</body>
</html>
