<div class="clearfix">
  <div class="col-12 sm-col-6 mx-auto">
    <div class="h5 p2 bg-green white center">
      <span class="bold caps">Success!</span>
      <% if session[:email] %>
      <span>Your email is <strong><%= session[:email] %></strong>.</span>
      <% end %>
    </div>
  </div>
</div>

<div class="clearfix py3 mxn1">
  <% (0..7).each do |i| %>
    <div class="sm-col sm-col-6 px1">
      <div class="p2 mb2 bg-white rounded">
        <div class="p1 mb1 bg-darken-1 col-7"></div>
        <div class="p1 mb1 bg-darken-1 col-10"></div>
        <div class="p1 mb1 bg-darken-1 col-5"></div>
        <div class="p1 mb1 bg-darken-1 col-8"></div>
        <div class="p1 mb1 bg-darken-1 col-6"></div>
        <div class="p1 mb1 bg-darken-1 col-11"></div>
        <div class="p1 mb1 bg-darken-1 col-8"></div>
      </div>
    </div>
  <% end %>
</div>
