<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Identity</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/lib/basscss.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="clearfix py1">
      <div class="sm-col">
        <img src="/img/ed/logo.png" class="align-middle" width="300">
      </div>
      <div class="sm-col-right">
        <form action="/login" method="POST" class="py2 px1">
          <button type="submit" class="btn btn-primary col-12">login.gov →</button>
        </form>
      </div>
    </div>
    <img src="/img/ed/page1.png">
    <img src="/img/ed/page2.png">
  </div>
</body>
</html>
