<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Identity</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/lib/basscss.min.css" rel="stylesheet">
</head>
<body>
  <div class="h5 p2 bg-green white center">
    <span class="bold caps">Success!</span>
    <% if session[:email] %>
    <span>Your email is <strong><%= session[:email] %></strong></span>
    <form action="/logout" method="POST">
      <button type="submit" class="btn btn-outline bg-white navy">Logout</button>
    </form>
    <% end %>
  </div>
  <div class="container">
    <div class="clearfix py1">
      <div class="sm-col">
        <img src="/img/ed/logo.png" class="align-middle" width="300">
      </div>
    </div>
    <img src="/img/ed/page1.png">
    <img src="/img/ed/page2.png">
  </div>
</body>
</html>
