.sign-in-type-wrap {
  margin-right: 25px;
}
.sign-in-wrap {
  clear: both;
}
.sign-in-wrap form {
  float: left;
}
.sign-in-bttn {
  float: right;
  margin: 5px;
  min-width: 185px;
}
.sign-in-bttn svg {
  margin-bottom: -2px;
  margin-right: 3px;
  height: 1rem;
}