<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Identity</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/lib/basscss.min.css" rel="stylesheet">
  <style>
  .page-border { border-color: #01aeee; border-top-width: 6px; }
  .bg-contain   { background-size: contain; }
  .bg-hero { background-image: url(/img/sba/hero.png); }
  .hero-inner { height: 250px; }
  </style>
</head>
<body class="bg-silver">
  <div class="container bg-white">
    <div class="h5 p2 bg-green white center">
      <span class="bold caps">Success!</span>
      <% if session[:email] %>
      <span>Your email is <strong><%= session[:email] %></strong></span>
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-outline bg-white navy">Logout</button>
      </form>
      <% end %>
    </div>
    <div class="border-top page-border p1 sm-show">
      <div class="clearfix mxn2">
        <div class="col-7 px2 mx-auto">
          <div class="sm-flex center nowrap caps gray">
            <div class="flex-auto">
              <a href="#!" class="h6 btn block regular">Translate</a>
            </div>
            <div class="flex-auto">
              <a href="#!" class="h6 btn block regular">Contact Us</a>
            </div>
            <div class="flex-auto">
              <a href="#!" class="h6 btn block regular">For Lenders</a>
            </div>
            <div class="flex-auto">
              <a href="#!" class="h6 btn block regular">Newsroom</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py3 center">
      <img src="/img/sba/logo.png" class="align-middle">
    </div>
    <div class="py2 sm-show">
      <div class="sm-flex center nowrap">
        <div class="flex-auto">
          <a href="#!" class="h4 btn block">Starting & Managing</a>
        </div>
        <div class="flex-auto">
          <a href="#!" class="h4 btn block">Loans & Grants</a>
        </div>
        <div class="flex-auto">
          <a href="#!" class="h4 btn block">Contracts</a>
        </div>
        <div class="flex-auto">
          <a href="#!" class="h4 btn block">Learning Center</a>
        </div>
        <div class="flex-auto">
          <a href="#!" class="h4 btn block">Local Assistance</a>
        </div>
        <div class="flex-auto">
          <a href="#!" class="h4 btn block">About SBA</a>
        </div>
      </div>
    </div>
    <div class="bg-silver py4 bg-contain bg-hero">
      <div class="sm-show hero-inner"></div>
    </div>
    <div class="p2">
      <br><br><br><br><br><br><br><br>
    </div>
  </div>
</body>
</html>
