<!DOCTYPE html>
<html>
<head>
  <title>IdentityRp</title>
  <%= csrf_meta_tags %>
</head>
<body class="bg-darken-1">

<!-- Show Devise notices/alerts -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
